body{
    background: lightgrey;
}

h1{
    text-align: center;
}

.fondoAzul{
    background-color: blue;
    color:white;
}

.tamanoLetra{
    font-size: 30px;
}

.fondoVerde{
    background: lightgreen;
}

.conPadding{
padding: 10px;
}